.bg-primary{
 background-color: #477091!important;
}
.mt20{
    margin-top: 30px;
}
.container-custom{
    width: 100%!important;
    margin:auto;
}

.item{
    margin-left: 10px;
}
.footerr{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
